<ion-view class="category-list-view">
    <ion-nav-title>
        <span> {{diagnosis.diagnosis[language]}}</span>
    </ion-nav-title>

    <ion-content>
        <div class="list">
            <label class="item item-input">
                <textarea type="text" ng-model="diaText.value" col="" rows="10" placeholder="Enter"></textarea>
            </label>
            <div class="mtb20">
                <ion-checkbox ng-model="filter.makesummary">Mark as Summary </ion-checkbox>
            </div>
        </div>
    </ion-content>
    <div class="fixedbar">
        <a class="button btn-delete" nav-clear ui-sref="app.consultations-note" ><i class="ion-close"></i> {{diagnosis.cancel[language]}}</a>
        <div class="button btn-add"  ng-click="saveDiagnosis(diaText)"><i class="ion-checkmark"></i> {{diagnosis.save[language]}}</div>
    </div>
</ion-view>

