<ion-view class="records-view">
    <ion-nav-title>
        <span>Medicine</span>
    </ion-nav-title>
    <form name="addRecordForm" id="addRecordForm" enctype="multipart/form-data" novalidate >
        <ion-content>        
            <div class="tabcon2">
			<div class="item item-divider">Crocin</div>
			
			<div class="row p10">
			<div class="col">Quatity: 10</div>
			<div class="col">Unit: 2</div>
			</div>
		
		
			
            <div class="item item-divider">Paracetamol</div>  
				<div class="row p10">
			<div class="col">Quatity: 15</div>
			<div class="col">Unit: 3</div>
			</div>
			
			
            </div>
        </ion-content>

    </form>
</ion-view>



