<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Add Medicine</span>
    </ion-nav-title>
    <ion-content>
        <div class="list list-inset txt-center">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text"  value="{{searchkey}}" ng-model="search">
            </label>
              <a ng-click=""  class="button button-positive mt15">Search</a>	
        </div>
		
		
       
        <div class="scont" ng-if="getMedicine!=''" >
            <div class="item item-divider" >Starting with 'C'</div>
            <div class="item newlist-item">
                <div ng-click="addmultiplemedicine();"  class="hreflink"><h2 class="ng-binding">Crocin
                        <!-- <span class="flt-right">3 Strips (15)</span> --></h2></div>
                        
               <!--  <div class="uinfo" ng-click=""><i class="ion-ios-information"></i></div> -->
            </div>
        </div>


        <div class="scont"  >
            <div class="item item-divider" >Other Matches</div>			
            <div class="item newlist-item">
                <div ng-click="addmultiplemedicine();" class="hreflink">
				<h2 >Ranex
                        <!-- <span class="flt-right">3 Strips (5)</span> --></h2></div>
        <!--         <div class="uinfo" ng-click="#"><i class="ion-ios-information"></i></div> -->
            </div>			

        </div>
     


    </ion-content>

<!--     <div class="fixedbar">
        <a class="button btn-delete" ui-sref="#">Cancel</a>
        <a class="button btn-add" ui-sref="#" >Save </a>
    </div> -->
</ion-view>

