<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Appointment List</span>
    </ion-nav-title>
    <ion-content>
		<div class="row tabnav">
		<div class="col"><a  ui-sref="#" class="active" >Active</a></div>
		<div class="col"><a  ui-sref="#"  >Past</a></div>
		</div>	

	

		<div  class="list card post-item">
        <div class="post-heading item item-text-wrap p0">
		<div class="item item-divider">Bhavana</div>
		<div class="p15">
		 <p><strong>Dr. Deepam Shah</strong><br/>
		<span>Dermatologist, Cosmetologist</span></p>
		
		<p><strong>Mode : </strong> Video</p>
		<p><strong>Appointment Time : </strong> 07 Mar 2016, 12:30AM To 2:00PM</p>
		</div>
		<div class="post-actions  post-footer p0">
           <div class="row cardbtn-small p0">
			<div class="col"><a class="cbtn cancel"><i class="ion-close"></i> Cancel</a></div>
			 <div class="col"><a class="cbtn join"><i class="ion-ios-videocam"></i> Join</a></div>
			 </div>
			</div>
		</div>
       </div>

				<div  class="list card post-item">
        <div class="post-heading item item-text-wrap p0">
		<div class="item item-divider">Bhavana</div>
		<div class="p15">
		 <p><strong>Dr. Deepam Shah</strong><br/>
		<span>Dermatologist, Cosmetologist</span></p>
		
		<p><strong>Mode : </strong> Video</p>
		<p><strong>Appointment Time : </strong> 07 Mar 2016, 12:30AM To 2:00PM</p>
		</div>
		<div class="post-actions  post-footer p0">
           <div class="row cardbtn-small p0">
			<div class="col"><a class="cbtn cancel"><i class="ion-close"></i> Cancel</a></div>
			 <div class="col"><a class="cbtn join"><i class="ion-ios-videocam"></i> Join</a></div>
			 </div>
			</div>
		</div>
       </div>

				<div  class="list card post-item">
        <div class="post-heading item item-text-wrap p0">
		<div class="item item-divider">Bhavana</div>
		<div class="p15">
		 <p><strong>Dr. Deepam Shah</strong><br/>
		<span>Dermatologist, Cosmetologist</span></p>
		
		<p><strong>Mode : </strong> Video</p>
		<p><strong>Appointment Time : </strong> 07 Mar 2016, 12:30AM To 2:00PM</p>
		</div>
		<div class="post-actions  post-footer p0">
           <div class="row cardbtn-small p0">
			<div class="col"><a class="cbtn cancel"><i class="ion-close"></i> Cancel</a></div>
			 <div class="col"><a class="cbtn join"><i class="ion-ios-videocam"></i> Join</a></div>
			 </div>
			</div>
		</div>
       </div>


</ion-content>
	 	 <div class="fixedbar">
   <a class="button btn-add" ui-sref="app.new-patient"> <i class="icon ion-plus-circled"></i> New</a>
	</div>

</ion-view>