<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Outgo List</span>
    </ion-nav-title>
    <ion-content>
		<div class="row tabnav">
		<div class="col"><a  ui-sref="app.ass-inward"  >Inward</a></div>
		<div class="col"><a  ui-sref="app.ass-outgo" class="active" >Outgo</a></div>
		</div>	

	

        <div  class="list card post-item" ng-repeat="disburse in disbursement">
        <div class="post-heading item item-text-wrap p0">
		<div class="item item-divider">
			{{disburse.item_id}}
		<span class="flt-right">{{disburse.qty_disdurse}} {{disburse.disburse_unit}}</span>

		</div>
		<div class="p10">
		<p class="post-title">Patient Name: Naresh</p>
		<p class="post-title">Dr Name : Dr.abc</p>
		<p class="card-date txt-center">Giving On : 09 MAR 2016, 12:10AM</p>
		</div>
		</div>
       </div>

	 




</ion-content>
	

</ion-view>