<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Outgo List</span>
    </ion-nav-title>
    <ion-content>
		<div class="row tabnav">
		<div class="col"><a  ui-sref="app.ass-inward"  >Inward</a></div>
		<div class="col"><a  ui-sref="app.ass-outgo" class="active" >Outgo</a></div>
		</div>	

	

	 <div  class="list card post-item">
        <div class="post-heading item item-text-wrap p0">
		<div class="item item-divider">
			Paracetamol
		<span class="flt-right">10 Strips</span>

		</div>
		<div class="p10">
		<p class="post-title">Patient Name: Naresh</p>
		<p class="post-title">Prescribed by Dr.abc</p>
		<p class="card-date txt-center">Going On : 09 MAR 2016, 12:10AM</p>
		</div>
		</div>
       </div>

	 <div  class="list card post-item">
        <div class="post-heading item item-text-wrap p0">
		<div class="item item-divider">	
		Crocin
		<span class="flt-right">10 Strips</span>
		</div>
		<div class="p10">
		<p class="post-title">Patient Name: Naresh</p>
		<p class="post-title">Prescribed by Dr.abc</p>
		<p class="card-date txt-center">Going On : 09 MAR 2016, 12:10AM</p>
		</div>
		</div>
       </div>




</ion-content>
	

</ion-view>