<ion-view class="records-view">
    <ion-nav-title>
        <span>{{patient_list[language]}}</span>
    </ion-nav-title>
    <ion-content>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="search">
            </label>
        </div>
        <!--        <div class="list mb0" >
                    <div class="item item-divider">A</div>
                    <a class="item"  ui-sref="app.ass-patient" ui-sref-opts="{reload: true}">
                        <h2>Naresh Infini</h2>
                        <p>naresh@infiniteit.biz, &nbsp;   +91 7666163366</p>
                    </a>
                    <a class="item"  ui-sref="app.ass-patient" ui-sref-opts="{reload: true}">
                        <h2>Leena Infini</h2>
                        <p>naresh@infiniteit.biz, &nbsp;   +91 7666163366</p>
                    </a>
                    <a class="item"  ui-sref="app.ass-patient" ui-sref-opts="{reload: true}">
                        <h2>Bhavana Infini</h2>
                        <p>naresh@infiniteit.biz, &nbsp;   +91 7666163366</p>
                    </a>
                </div>-->
        <div class="list mb0" ng-repeat="(header,data) in users | orderBy: ['data.fname', 'data.lname']" >
            <div class="item item-divider">{{header}}</div>
            <a class="item" ng-repeat="users in data| filter:search" ui-sref="app.ass-patient({'id': users.id, 'drId': drId})" ui-sref-opts="{reload: true}">
                <h2>{{users.fname}} {{users.lname}}</h2>
                <p>{{users.email}}, &nbsp;   +91 {{users.phone}}</p>
            </a>
        </div> 
    </ion-content>
    <div class="fixedbar">
        <div class="button btn-add" ng-click="modal.show()"> <i class="icon ion-plus-circled"></i> {{add[language]}}</div>
    </div>
</ion-view>

<script id="assaddp" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">{{add_patient[language]}}</h1>
    <button class="button button-clear" nav-clear ng-click="modal.hide()" ><i class="ion-close"></i> </button>
    </ion-header-bar>
    <form id="addPatientForm" name="addpatient" novalidate>
    <ion-content >
    <div class="item item-divider">Name</div>
    <label class="item item-input">
    <input type="text" placeholder="Name" ng-model="name" name="name" required ng-minlength="3" />
    <div ng-show="addpatient.name.$error.minlength" class="serror">Name is too short.</div>
    <div ng-show="addpatient.name.$error.required" class="serror">Your Name is required.</div>
    </label>
    <input type="hidden" name="doctrid" value="{{drId}}" ng-model="drId" />
    <input type="hidden" name="userId" value="{{userId}}" ng-model="userId" />
     <input type="hidden" name="interface" value="{{interface}}" ng-model="interface" />
    <div class="item item-divider">Aadhar Id</div>
    <label class="item item-input">
    <input type="number" name="adhar" placeholder="Aadhar Id">
    </label>

    <div class="item item-divider">Mobile</div>  
    <label class="item item-input">
    <input type="tel" placeholder="Phone" name="phone" ng-model="phone" required ng-minlength="10" />
    <div ng-show="addpatient.phone.$error.minlength" class="serror">Mobile number is too short.</div>
    </label> 

    <div class="item item-divider">Gender</div> 	
    <ion-list>
    <div class="row">
    <div class="col cradio"><ion-radio ng-model="genderM" name="gender" ng-value="'1'"  value="1" >Male</ion-radio></div>
    <div class="col cradio"> <ion-radio ng-model="genderF" name="gender" ng-value="'2'" value="2">Female</ion-radio></div>
    <div ng-show="addpatient.gender.$error.required" class="serror">Your Name is required.</div>
    </div>
    </ion-list>			
    <div class="item item-divider">Date Of Birth</div> 	
    <label class="item item-input">
    <input type="date" placeholder="DOB" ng-model="curTime" value="{{curTime|dateFormat4}}" name="dob">
    </label>

    </ion-content>
    <div class="fixedbar">
    <button type="submit" class="button btn-add nav-clear" ng-click="savePatient()" ng-disabled="addpatient.$invalid" > <i class="ion-check"></i>  {{submit[language]}}</button>
    </div>
    </form> 
    </ion-modal-view>
</script>
