<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Disbursement</span>
    </ion-nav-title>
    <form method="post" id="disbursement" name="disbursement" novalidate>
        <ion-content>
            <input type="hidden" ng-model="interface" name='interface' value="{{interface}}">
            <input type="hidden" ng-model="id" name='id' value="{{id}}">
            <div ng-if="appointment == '0'">

                <label class="item item-input item-select">
                    <div class="input-label">Patient</div>
                    <select ng-model="pname" name="pname" required="">
                        <option value="" selected="selected" required>Select Patient </option>
                        <option  ng-repeat="user in userP" value="{{user.id}}" >{{user.fname}} {{user.lname}}</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">Doctor</div>
                    <select  ng-model="dname" name="dname" required="">
                        <option value="" selected="selected" required>Select Doctor </option>
                        <option ng-repeat="user in userD" value="{{user.id}}" >{{user.fname}} {{user.lname}}</option>
                    </select>
                </label>

                <label class="item item-input "><span class='input-label'>Consultation Date</span><!--listreq-->
                    <input type="date" ng-model="curDate" placeholder="" value="{{curDate}}"  name="curdate" required /></label>

                <label class="item item-input "><span class='input-label'>Consultation Time</span><!--listreq-->
                    <input type="time" ng-model="curTime" placeholder="" value="{{curTime| time1}}"  name="curtime" /></label>



                <label class="item item-input item-select">
                    <div class="input-label">Patient Type</div>
                    <select ng-model="patientType" name="patient_type" required="" ng-init="-1">
                        <option value="" selected="selected">Select </option>
                        <option  ng-repeat="ptype in patient_type"  value="{{ptype.id}}">{{ptype.patient_type}}</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">Mode</div>
                    <select ng-model="serviceMode" name="service" required="" ng-init="-1">
                        <option value=""  selected="selected" >Select mode </option>
                        <option  ng-repeat="serv in service" value="{{serv.id}}" >{{serv.service}}</option>

                    </select>
                </label>
            </div>
               
          <div ng-if="appointment != '0'">
                <input type="hidden" ng-model="appointmentId" name="appointmentId" value="{{appointment.id}}">
                <input type="hidden" ng-model="pname" name="pname" value="{{appointment.user_id}}">
                <input type="hidden" ng-model="dname" name="dname" value="{{appointment.doctor_id}}">
                <input type="hidden" ng-model="curDate" name="curdate" value="{{appointment.scheduled_start_time | dateFormat2 }}">
                <input type="hidden" ng-model="curTime" name="curtime" value="{{appointment.scheduled_start_time | time}}">
                <input type="hidden" ng-model="patientType" name="patient_type" value="1">
                <input type="hidden" ng-model="service" name="service" value="{{appointment.mode}}">
            </div>

            <div class="item item-divider mt15" ng-if="medicine != 0">Disbursement
                <a class="Cstmbutn button-small col-25" ui-sref="app.add-disbursement({mid:medicine[0].id,appid:0})" style="float:right; padding:0;"><span class="icon ion-plus-circled"></span> Add </a>
            </div>
            <div class="item item-divider mt15" ng-if="medicine == 0">Disbursement
                <a class="Cstmbutn button-small col-25" ui-sref="app.add-disbursement({mid:medicine,appid:appId})" style="float:right; padding:0;"><span class="icon ion-plus-circled"></span> Add </a>
            </div>

            <div class="item newlist-item"  ng-repeat="medi in dataitem1">
                <div class="hreflink" ng-if="medi.id != ''" ><h2 class="ng-binding">{{medi.name}} 
                        <input type="hidden" name="itemid" value="{{medi.id}}">
                        <input type="hidden" name="itemname" value="{{medi.name}}">
                        <span class="flt-right"><input type="number" name="quantity" value="{{medi.quantity}}" min='1' max='10'>
                            <input type="text" value="{{medi.itemform}}"  name="item_form" readonly="">   


                        </span></h2></div>
                <div class="uinfo" ng-click="removeItem($index);"><i class="ion-ios-close-empty"></i></div>
            </div>

            <div class="item newlist-item" ng-repeat="datai in dataitem">
                <div class="hreflink"><h2 class="ng-binding">{{datai.name}}
                        <input type="hidden" name="newitemid[]" value="{{datai.id}}">
                        <input type="hidden" name="newitemname[]" value="{{datai.name}}">
                        <span class="flt-right"> <input type="number" name="newquantity[]" value="{{datai.quantity}}">
                            <input type="text" value="{{datai.itemform}}"  name="new_item_form[]" readonly="">  

                        </span></h2></div>
                <div class="uinfo" ng-click="removeItem($index);"><i class="ion-ios-close-empty"></i></div>
            </div>




        </ion-content>

        <div class="fixedbar">

            <a class="button btn-delete" ui-sref="app.inventory" >Cancel</a>
            <button type="submit" ng-click="doDisbursement(appId);" class="button btn-add"  ng-disabled="disbursement.$invalid" >Save</button>
        </div>
    </form>

</ion-view>