<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>History</span>
    </ion-nav-title>
    <ion-content>
		<div class="row tabnav">
		<div class="col"><a  ui-sref="app.medicine-history" >Inward</a></div>
		<div class="col"><a  ui-sref="app.medicine-outgo" class="active" >Outgo</a></div>
		 </div>	

	

	  <div  class="list card post-item">
        <div class="post-heading item item-text-wrap p0">
		<div class="item item-divider txt-center">2 Strips</div>
		<div class="p10">
		<p class="post-title">Patient Name: Naresh</p>
		<p class="post-title">Prescribed by Dr.abc</p>
		<p class="card-date txt-center">Going On : 09 MAR 2016, 12:10AM</p>
		</div>
		</div>
       </div>

	<div  class="list card post-item">
        <div class="post-heading item item-text-wrap p0">
		<div class="item item-divider txt-center">10 Tablets</div>
		<div class="p10">
		<p class="post-title">Patient Name: Leena</p>
		<p class="post-title">Prescribed by Dr.Xyz</p>
		<p class="card-date txt-center">Going On : 12 FEB 2016, 12:10AM</p>
		</div>
		</div>
       </div>

	<div  class="list card post-item">
        <div class="post-heading item item-text-wrap p0">
		<div class="item item-divider txt-center">8 Strips</div>
		<div class="p10">
		<p class="post-title">Patient Name: Leena</p>
		<p class="post-title">Prescribed by Dr.Pqr</p>
		<p class="card-date txt-center">Going On : 12 FEB 2016, 12:10AM</p>
		</div>
		</div>
       </div>

</ion-content>
	
	<div class="fixedbar">
    <a class="button btn-add">Add</a>
	<a class="button btn-share" ui-sref="app.disbursement">Disbursement </a>
	</div>
</ion-view>