<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Search Results</span>
    </ion-nav-title>
    <ion-content>
	
	<div class="infoheader">

	<div class="row">
	<div class="col col-67">
<span class="fbold">{{medicineforprob[0].name}}</span> <br/>{{medicineforprob[0].total_item}} {{medicineforprob[0].item_form}}</div>
<div class="col col-33">
<a  ui-sref="app.medicine-history" class="button button-small button-balanced flt-right">History</a></div>
	</div>


	</div>
	

	<div class="item item-divider ng-binding">Used For</div>
	<div ng-repeat="prob in medicineforprob" >
	<p class="p15">{{prob.problem}}</p>
        </div>

	<div class="item item-divider ng-binding">Side Effect</div>
        


</ion-content>
	
	<div class="fixedbar">
    <a class="button btn-add">Add</a>
	<a class="button btn-share" ui-sref="app.disbursement({mid:medicineforprob[0].id})">Disbursement </a>
	</div>
</ion-view>